.post-content {
    box-sizing: border-box;
    padding: 10px;
}
.post-content img {
    width: 80%;
    margin-bottom: 10px;
}

.post-content p {
    margin-bottom: 12px;
}
.post-content pre {
    font-size: 14px;
}
.post-content blockquote {
    border-left: 3px solid #dce6f0;
    padding-left: 10px;
    color: #819198;
}

.post-content ul,
.post-content ol {
    color: #606c71;
    font-size: 16px;
}

.post-content p {
    font-size: 18px;
    color: #606c71;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h5 {
    color: #159957;
    margin-bottom: 10px;
}
