.post-item {
    width: 450px;
    height: 280px;
    background: red;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.post-item-bottom {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    padding: 5px;
    background: rgba(0, 0, 0, .5);
    color: #fff;
}

.post-title {
    font-size: 20px;
}
