.tabs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.tabs-content {
    width: 80%;
    height: 50px;
    line-height: 50px;
    color: rgba(255, 255, 255, .7);
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
}

.tabs-item {
    display: inline-block;
    box-sizing: border-box;
    font-size: 16px;
    padding: 0 12px;
    background: rgba(0, 0, 0, .08);
    margin-right: 12px;
    transition: all 0.2s linear;
}

.tabs-item:hover {
    background: rgba(255, 255, 255, .08);
}
